
#frontDesk {
  position: fixed;
  top: 50%;
  left: 40%;
  
  
   
}
#E_rows{
    position: fixed;
    display:block;
    bottom: 0;
    left: 0;
   
  
 
}
.tableText{
  display: flex;
  justify-content: center;
 
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  
  margin-top: 50px;
}
.tables{
  margin: 20px;
}
.FCtables{
  position: fixed;
  top:400px;
  right: 435px;
  display: inline-block;
  
}
#D_rows{
    position: fixed;
    top: 0;
    left: 0;
  
  display: flex;
  flex-direction: row;
}
#C_rows{
  position: fixed;
  top:200px;
  right: 435px;
  display: inline-block;
  
}
#A_rows{
   position: fixed;
   top: 0;
   right: 0;
   display: inline-block;
      
}
#B_rows{
  
   position: fixed;
   top:0;
   right: 250px;
   display: inline-block;
      
}

html{

  overflow: hidden;
  margin: 0;
  position:fixed;
background-color: #010108;
opacity: 0.8;
background-image:  linear-gradient(#424251 1px, transparent 1px), linear-gradient(to right, #424251 1px, #010108 1px);
background-size: 20px 20px;
}
